Nav {   
    grid-area: nav;        
    background: #09774a;
    padding: 10px;
}

.nav {
    
}

.link {
    margin-top: 5px;
}

.settings {
    margin-top: 50px;
    margin-bottom: 50px;
}

.link a {
    color: #fff;
    text-decoration: none;    
}

.link a.active {
    color: gold;
}