Nav {   
    grid-area: nav;    
}

.nav {
    padding: 10px;
    background: #09774a 
}

.link {
    margin-top: 5px;
}

.link:last-child {
    margin-top: 50px;
}

.link a {
    color: #fff;
    text-decoration: none;    
}

.link a.active {
    color: gold;
}