.Wrapper {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas: "header header""nav content";
    height: 100vh; 
    max-width: 1200px;
    margin: 0 auto;
}
